﻿@model IEnumerable<AdministracijaClanova.Clan>

@{
    ViewData["Title"] = "Članovi";
}

<p>
    <a asp-action="Create">Novi član</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prezime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Spol)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rodendan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegistracijaHVS)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.PodaciSkrbnika)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rodendan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistracijaHVS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PodaciSkrbnika.Adresa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClanId">Promjena</a> |
                <a asp-action="Details" asp-route-id="@item.ClanId">Detalji</a> |
            </td>
        </tr>
}
    </tbody>
</table>
