﻿@model AdministracijaClanova.UplataClanarine

@{
    ViewData["Title"] = "Nova uplata";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DatumUplate" class="control-label"></label>
                <input asp-for="DatumUplate" class="form-control" />
                <span asp-validation-for="DatumUplate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MjesecGodina" class="control-label"></label>
                <input asp-for="MjesecGodina" class="form-control" />
                <span asp-validation-for="MjesecGodina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClanId" class="control-label"></label>
                <select asp-for="ClanId" class="form-control" asp-items="ViewBag.ClanId"> </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Spremi" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Povratak</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
