﻿@model IEnumerable<AdministracijaClanova.UplataClanarine>

@{
    ViewData["Title"] = "Članarine";
}

<p>
    <a asp-action="Create">Nova uplata</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DatumUplate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MjesecGodina)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Clan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatumUplate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MjesecGodina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clan.Ime) @Html.DisplayFor(modelItem => item.Clan.Prezime)
            </td>
        </tr>
}
    </tbody>
</table>
